.mecungul1{
  margin-top : -35px;
}
.mecungul2{
  margin-top : -45px;
}
.mecungul3{
  margin-top : -55px;
}
.mecungul{
  margin-top : -25px;
}

.oyen{
  background-color:orange;
}

.orange:hover{
  background-color:orangered;
}


.biruatas{
  background-color:#63B4B8;
}